@model MO.DataStore.EFCore.Utilities.PaginatedList<Post>
@{
	if(Model != null)
	{
		<div class="grid__wrapper flex">
			@foreach(var item in Model)
			{
                <a asp-page="/blog/slug" asp-route-slug="@item.Slug" class="grid__item-wrap">
					<div class="grid__item-top">
						@if (item.PostHasCoverPhoto() == true)
						{
							<img src="~/img/posts/@item.PostCoverPhoto" height="192" />
						}
						else
						{
							<div class="no__photo-entry">
								<img src="~/img/assets/logo.png" width="40" height="20" class="blog__no-cover">
							</div>
						}
					</div>
					<div class="grid__item-body">
						<p class="grid__item-meta-date">
							@item.PubDate.ToLongDateString()
						</p>
						<h3 class="grid_item-meta-title">@StringHelper.ShortenAndFormatText(@item.Title, 64)</h3>
                        <div class="grid__item-lnk-more-wrap">
                            <div class="grid__item-lnk-more-lnk grid">
                                Read more
                                <span class="material-symbols-outlined">
                                    arrow_forward
                                </span>
                            </div>
                        </div>
					</div>
				</a>
			}
		</div>

        <ul class="blog__pagination flex">
            @{
                // Current page should never go below 1
                if (Model.CurrentPage > 1)
                {
                    var currentPage = (Model.CurrentPage);
                    <li class="page-item">
                        <a class="page-item active" asp-page="/blog/index" asp-route-pageIndex="@currentPage--">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item  disabled">
                        <span aria-hidden="true">&laquo;</span>
                    </li>
                }
            }

            @for (int i = Model.CurrentPage - 3; i < Model.CurrentPage + 3; i++)
            {
                if (i > 0 && i <= Model.TotalPages)
                {
                    //  set active page
                    if (i == Model.CurrentPage)
                    {
                        <a class="page-item active" asp-page="/blog/index" asp-route-pageIndex="@i">@i</a>
                    }
                    else
                    {
                        <a class="page-item" asp-page="/blog/index" asp-route-pageIndex="@i">@i</a>
                    }
                }
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                // so long as current page <= total pages
                var nextage = Model.CurrentPage;
                nextage++;
                <li class="page-item">
                    <a class="page-item" asp-page="/blog/index" asp-route-pageIndex="@nextage">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <div class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </div>
                </li>
            }
        </ul>
	}
	else
	{
		<h1>Loading</h1>
	}
}
