@page "{slug}"
@model michieloppenheimer_io.web.Pages.Blog.SlugModel
@{
	ViewData["Title"] = Model.Post.Title;
}

<section class="section">
	<div class="post__entry container flex">
		@{
			<article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
				<div id="blog__meta-block" class="display_none">
					<p itemprop="name headline"><a href="@Helpers.ViewHelpers.GetPostLink(Model.Post.Slug)" rel="canonical" itemprop="url">@Model.Post.Title</a></p>
					<time datetime="@Model.Post.PubDate.ToString("s")" itemprop="datePublished">Published @Model.Post.PubDate.ToString("MMM d, yyyy")</time>
				</div>

				@if (Model.Post.PostHasCoverPhoto())
				{
					<div class="post__header-photo" style="background-image: url(@ViewHelpers.GetPostBackgroundImage(Model.Post.PostCoverPhoto));">
					</div>
				}
				else
				{
					<div class="post__header-nophoto" style="background-image: url(/img/assets/logo.png);">
					</div>
				}
				<div class="post__content-wrapper">
					<div itemprop="articleBody mainEntityOfPage">
						<h1>@Model.Post.Title</h1>
						<p class="post__content-meta-data">
							@Model.Post.PubDate.ToLongDateString()
						</p>
						<div class="post_content-content">
							@Html.Raw(@Model.Post.Content)
						</div>
					</div>
				</div>

				<div class="post__tags-wrapper">
					<h1>Tags</h1>
					@if (Model.Post.Tags.Any())
					{
						@foreach (var tag in Model.Post.Tags)
						{
							<a asp-page="/tag/index" asp-route-tag="@tag.TagNameEncoded">@tag.TagName</a>
						}
					}

				</div>

			</article>

		}

	</div>
</section>

